@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-sans-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-sans-font{
    background-color: rgb(17, 17, 17);
}

/* share style */

.display-flex{
    display: flex;
}

/* red 02 */
.text-gray{
    color: rgb(255, 255, 255);
}


/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.full-radious{
    width: 465px;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    justify-content: space-between;
    align-items: center;
}

.font-radious{
    width: 92px;
    height: 38px;
    text-align: center;
    background: rgb(230, 83, 60);
    border-radius: 39px;
    align-items: center;
    justify-content: center; 
}
.home-center{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center; 
}
.brand{
    font-weight: 800;
    font-size: 3rem;
    color: rgb(230, 83, 60);
}

.nav-item{
    list-style: none;
    margin-right: 30px; 
}

.nav-link{
    text-decoration: none;
    font-weight: 400;
    
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    
}
.ul-class{
    margin-left: -35px;
}

.get-body{
   
}

.stay-healthy{
   
}

.healthy-height{
    width: 520px;
    height: 282px;
    color: rgb(255, 255, 255);
    margin: 28px 0px;
    font-size: 78px;
    font-weight: 900;
}
.paragraph-height{
    height: 48px;
    width: 520px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.5)
}

.radious-one{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    justify-content: center;
    align-items: center;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;

}
.radious-two{
    
    border-radius: 42px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 16px 40px 16px 40px;
}

.btn-primary{
    background: rgba(48, 48, 48, 0.54);
    
    padding: 20px 25px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    width: 206px;
    height: 96px;
} 

.box-one{
    margin-left: -100px;
    margin-top: -150px;
}
.box-two{
    margin-left: 240px;
    margin-top: -410px;
}

.ball{
    height: 40px;
    width: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    margin-left: -15px;
    margin-top: -50px;
}

.exprience-badge{
    margin-top:-280px;
}

.banner-image{
    /* width: 100%;  */
}

#video-tutorial-number{
    font-weight: 900;
    font-size: 24px;
    color: white;
}
#video-tutorial{
    font-size: 16px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}
#video-tutorial-number2{
    font-weight: 900;
    font-size: 40px;
    color: white;
}
#video-tutorial2{
    font-size: 13px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}

/* main section start */
#habit{
    Width: 476px;
    Height: 57px;
    Font weight: 900;
    Font size: 48px;
    color: rgb(255, 255, 255);
}

.fitness{
    width: 671px;
    height: 48px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -30px;
}

.image-style{
    width: 93px;
    height: 22px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

.believe{
    width: 231px;
    height: 36px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.img-circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.your-habit{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 500px;
}

.all-main-part{
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.display-image{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Inside Auto Layout */
.box-shado{
    width: 1300px;
    height: 371px;
    margin: 62px 0px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    align-items: center;
    margin-left: 100px;
}

.colour{
    color: white;
}

.run-image{
    width: 366px;
    height: 312px;
    border-radius: 18px;
}
.easily-flex{
    display: flex;
    justify-content: space-around;
}

/* meet our team part */

.team{
    text-align: center;
    
}
.p-team{  
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5)
}

.box-shado-one{
    width: 1300px;
    height: 650px;
    margin: 62px 0px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    align-items: center;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.all-image-box{
    width: 400px;
    height: 272px;
    border-radius: 18px;
}

/* footer part hare  */
.box-shado-two{
    width: 1500px;
    height: 390px;
    margin: 62px 0px;
    background: rgb(34, 34, 34); 
} 

.footer-style{
    color: #e6533c;
}
.footer-style-one{
    color: white;
}

.footer-flex{
    display: flex;
    justify-content: space-around;
}
.footer-side{
    margin-bottom: -50px;
}
.item-center{
    text-align: center;
}
/* responsive media query */
@media screen and (max-width: 576px){
    .navbar, .nav-link {
        
    }
}